body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#map {
    height: 75vh;
}

#navigate-button {
    border: none;
    width: 60%;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
}